@charset "utf-8";
.content{padding-top:30px;}
.content .content-main{width:790px;}
/*右边*/
.content .content-main .list,.content .content-main .detail{margin:0px 20px 36px 20px;}
.content .content-main .list dl dt,.content .content-main .list dl dd{height:50px; line-height:50px;border-bottom:1px dashed #d6d6d6;}
.content .content-main .list dl dt{overflow:hidden; float:left; width:80%; background:url(../images/sprite/case.png) no-repeat -155px -104px; text-indent:32px;}
.content .content-main .list dl dd{text-align:right; float:right; width:20%;}
.content .content-main .list dl dt.topThree{ background-position:2px -24px;}
.content .content-main .pages{ margin-bottom:70px;}

/*详情页*/
.content .content-main .detail .recommend{margin-top:20px;border-bottom:1px solid #eee;border-top:1px solid #eee;padding:30px 0px 60px 0px;}
.content .content-main .detail .recommend .title{color:#333;font-size:14px;font-weight:normal;padding-bottom:12px; text-indent:12px;}
.content .content-main .detail .recommend li{float:left;margin-right:10px;}
.content .content-main .detail .recommend li.lastItem{margin-right:0px;}
.content .content-main .detail .recommend a{display:block;border:1px solid #d8d8d8;font-size:0px;}
.content .content-main .detail .recommend a:hover{border:1px solid #41ccf3;}
.content .content-main .detail .recommend img{width:178px; height:178px;}
.content .content-main .detail .recommend li span{display:block;padding-top:10px;}