/* step */
.forgetFrame{ width:550px;padding-top:55px;}
.forgetFrame ul{width:515px;}
.forgetFrame ul li{ float:left;}
.forgetFrame .stepCurrent,.forgetFrame .stepFinish{background-color:#41ccf3;border-top-left-radius:10px;border-bottom-left-radius:10px;height:5px;width:195px;text-align:center;}
.forgetFrame .stepFinish{background-color:#6ddfff;width:160px;}
.forgetFrame .step{background-color:#cccccc;height:5px;width:160px;text-align:center;}
.forgetFrame .step-last{border-top-right-radius:10px;border-bottom-right-radius:10px;}
.forgetFrame .step-middle{border-top-left-radius:0px;border-bottom-left-radius:0px;}
.forgetFrame .stepFinish span,.forgetFrame .stepCurrent span,.forgetFrame .step span{border-radius:10px;background:#41ccf3;padding:2px 7px;font-size:12px;color:#fff;position:relative;;top:-6px;}
.forgetFrame .stepFinish span{background:#6ddfff;}
.forgetFrame .step span{background:#cccccc;}

.forgetFrame .step-detail,.forgetFrame .stepCurrent-detail{padding-top:20px;text-align:center;font-size:12px;color:#ccc;}
.forgetFrame .stepCurrent-detail{color:#41ccf3;}

/* forgetForm-1 */
.forgetFrame .forgetForm-1{width:400px;}
.forgetFrame .forgetForm dl dt{float:left; width:75px;text-align:right;padding-right:10px; height:34px;line-height:34px;margin-bottom:15px;}
.forgetFrame .forgetForm dl dd{float:left; width:310px;height:36px;margin-bottom:15px;}
.forgetFrame .forgetForm .submit{border-radius:5px;background-color:#41ccf3;color:#fff;outline:none;width:130px; height:30px; border:1px solid #41ccf3;margin-top:27px;display:block;}
.forgetFrame .forgetForm-1 input[type="radio"]{margin-top:11px;}
.forgetFrame .forgetForm-1 .phone{outline:none;border:1px solid #ddd;width:270px;padding:9px 30px 9px 10px;background:url(../images/sprite/login.png) no-repeat right 5px;}
.forgetFrame .forgetForm-1 .identityCode{outline:none;border:1px solid #ddd;width:70px;padding:9px 30px 9px 10px;}
.forgetFrame .forgetForm-1 .getCode{border:1px solid #41ccf3;text-align:center;color:#41ccf3;display:block;width:110px;height:33px;line-height:33px;}

/* forget-2 */
.forgetFrame .forgetForm-2{width:560px;}
.forgetFrame .forgetForm-2 dl dd{float:left; width:475px;height:auto;margin-bottom:15px;}
.forgetFrame .forgetForm-2 .password,.forgetFrame .forgetForm-2 .confirmPassword{outline:none;border:1px solid #ddd;width:263px;padding:9px 30px 9px 10px;background:url(../images/sprite/login.png) no-repeat right -37px;}
.forgetFrame .forgetForm-2 .warmming{padding-left:4px;color:#f61d1d;font-size:12px;}
.forgetFrame .forgetForm-2 .passwordTips{width:305px;padding:10px 0px 0px 0px;color:#666;}
.forgetFrame .forgetForm-2 .passwordTips-0,.forgetFrame .forgetForm-2 .passwordTips-1{width:44px;padding:2px 15px;margin-right:2px;background-color:#dddddd;}
.forgetFrame .forgetForm-2 .passwordTips-0{color:#fff;background-color:#fcbb6e;}

/* forget-3 */
.forgetFrame .forgetForm-3{width:252px; padding-bottom:170px;}
.forgetFrame .forgetForm-3 .pic{width:45px; height:33px;}
.forgetFrame .forgetForm-3 .pic img{width:45px; height:33px;}
.forgetFrame .forgetForm-3 .tips{color:#999; font-size:12px;}
.forgetFrame .forgetForm-3 .tips div{color:#41ccf3;font-size:16px; padding-bottom:10px;}
.forgetFrame .forgetForm-3 .tips a{color:#666;}