/* CSS Document */
.content .content-main,.content .jump{width:742px;color:#999;}
.content div.liner{background:#eeeeee;}
.content .jump{margin-bottom:65px;}
.content .jump a{color:#999;}
.content .jump a:hover{color:#41ccf3;text-decoration:underline;}

/*新闻列表*/
.content .main-list ul{width:1000px;}
.main-list ul li{padding:25px 0px;height:126px;border-bottom:1px solid #f2f2f2;}
.content .main-list ul li{padding:47px 0px 47px 28px;}
.content .main-list ul li .fl .dates{padding-top:26px;padding-right:55px;font-family:Arial;*width:55px;background:none;}
.content .main-list ul li .fl .dates .day,.content .main-list ul li .fl .pl15 .month{color:#4183d7;}
.content .main-list ul li .fl .dates .day{font-size:48px;line-height:45px;border-bottom:1px solid #d8d8d8;}
.content .main-list ul li .fl .dates .month{font-size:14px;text-align:center;line-height:25px;height:25px;}
.content .main-list ul li .news-img,.content .main-list ul li .news-img img{width:220px; height:126px;}
.content .main-list ul li .news-content h2{font-size:18px;}
.content .main-list ul li .news-content h2 a{color:#333;}
.content .main-list ul li .news-content h2 a:hover{color:#ff9900;}
.content .main-list ul li .news-content p{width:575px;font-size:14px;line-height:2; overflow:hidden;height:80px;}
.content .main-list ul li .news-content p a.detail{padding-left:20px;color:#999;}

/*重写pages*/
.pages{padding-bottom:72px;padding-top:45px;}